.button {
    display: inline-block;
    align-items: center;
    justify-content: center;
    gap: 6px;
    flex: 1 0 30%;
    border-radius: 6px;

    cursor: pointer;
    user-select: none;
}

.button-primary {
    background: #008BD7;
}

.button-primary:hover {
    background: #0D9DDF;
}

.button-primary:active {
    background: #0069AA;
}

.button-secondary {
    background: #3E3E3E;
}

.button-secondary:hover {
    background: #555555;
}

.button-secondary:active {
    background: #3E3E3E;
}

#update-view {
    display: none;
}

#update-button {
    margin-left: -4%;
}

#restart-button {
    display: none;
}

#update-button-container {
    display: flex;
    flex-direction: row;
    margin: auto;
}

#progress-bar {
    display: none;

    height: 40px;
    margin-top: 20px;
    border-radius: 50px;
    border: 1px solid #4E4E4E;
    background: linear-gradient(rgba(20, 20, 20, 0.5), rgba(80, 80, 80, 0.5));
    /* background-size: cover; */
}

#progress-bar-progress {
    width: 12%;
    height: 40px;
    border-radius: 50px;
    background-image: linear-gradient(to bottom, #008BD7 35%, #0069AA);
    transition: width .6s ease;
}

@keyframes progress-bar-stripes {
    from {
        background-position: 1rem 0;
    }
    to {
        background-position: 0 0;
    }
}

/* Display scaling (Minimum supported resolution is 960x540) */
@media only screen and ((min-width: 2560px) or (min-height: 1440px)) {
    .button {
        padding: 12px 35px;
        margin: 20px;
        margin-top: 25px;
        margin-bottom: 15px;
    }

    #update-text {
        margin-top: 20px;
    }
}

@media only screen and ((max-width: 2559px) or (max-height: 1439px)) {
    .button {
        padding: 12px 30px;
        margin: 20px 15px;
        margin-bottom: 10px;
    }

    #update-text {
        margin-top: 20px;
    }
}

@media only screen and ((max-width: 1919px) or (max-height: 1079px)) {
    .button {
        padding: 8px 25px;
        margin: 20px 10px;
        margin-bottom: 10px;
    }

    #update-text {
        margin-top: 10px;
    }
}

@media only screen and ((max-width: 1279px) or (max-height: 719px)) {
    .button {
        padding: 8px 20px;
        margin: 15px 10px;
        margin-bottom: 5px;
    }

    #update-text {
        margin-top: 10px;
    }
}
