body, html {
    height: 100%;
    margin: 0;
}

#main-container {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.non-selectable {
    user-select: none;
}

.card {
    display: flex;
    flex-direction: column;
    text-align: center;

    background-color: rgba(20, 20, 20, 0.5);
    padding: 25px;
    border-radius: 10px;
    border: 1px solid #2E2E2E;
    scrollbar-width: thin;
    overflow: auto;
}

.card-title {
    font-weight: 700;
    line-height: 24px;
    margin: 10px;
}

.card-title-separator {
    height: 1px;
    background: #2E2E2E;
    margin-top: 3px;
    margin-bottom: 3px;
}

.button {
    display: inline-block;
    align-items: center;
    justify-content: center;
    padding: 16px;
    gap: 6px;
    flex: 1 0 0;
    border-radius: 6px;

    margin: 20px 10px;
    cursor: pointer;
    user-select: none;
}

.button-primary {
    background: #008BD7;
}

.button-primary:hover {
    background: #0D9DDF;
}

.button-primary:active {
    background: #0069AA;
}

.button-secondary {
    background: #3E3E3E;
}

.button-secondary:hover {
    background: #555555;
}

.button-secondary:active {
    background: #3E3E3E;
}

#ui-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 15vw;

    font-family: InterVariable;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

#title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#title-text {
    font-family: Outfit;
    font-size: 100px;
    font-weight: 800;
    text-align: center;

    background-image: linear-gradient(180deg, #FFFFFF 5.9%, #D3D3D3 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#title-icon {
    width: 84px;
    height: 84px;

    background-image: url(../../assets/icons/app/icon.svg);
    background-size: cover;
    margin-right: 15px;
}

#connection-status {
    padding: 25px;
    text-align: center;
}

#main-view {
    padding: 25px;
}

#manual-connection-info {
    font-weight: 700;
    line-height: 24px;
    margin: 10px;
}

#manual-connection-info-separator {
    height: 1px;
    background: #2E2E2E;
    margin-top: 3px;
    margin-bottom: 3px;
}

#qr-code {
    display: flex;
    margin: 20px auto;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: white;
}

#scan-to-connect {
    margin-top: 20px;
    font-weight: bold;
}

#waiting-for-connection, #ips, #automatic-discovery {
    margin-top: 20px;
}

#update-text {
    margin-top: 20px;
    width: 320px;
}

#update-view {
    display: none;
}

#restart-button {
    display: none;
}

#spinner {
    padding: 20px;
}

#update-button-container {
    display: flex;
    flex-direction: row;
}

#progress-bar {
    display: none;

    width: 320px;
    height: 40px;
    margin-top: 20px;
    border-radius: 50px;
    border: 1px solid #4E4E4E;
    background: linear-gradient(rgba(20, 20, 20, 0.5), rgba(80, 80, 80, 0.5));
    /* background-size: cover; */
}

#progress-bar-progress {
    width: 12%;
    height: 40px;
    border-radius: 50px;
    background-image: linear-gradient(to bottom, #008BD7 35%, #0069AA);
    transition: width .6s ease;
}

@keyframes progress-bar-stripes {
    from {
        background-position: 1rem 0;
    }
    to {
        background-position: 0 0;
    }
}

#window-can-be-closed {
    color: #666666;
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;

    font-family: InterVariable;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
