buildAndroidReceiverExperimentalDockerContainer:
  stage: buildDockerContainers
  image: docker:20.10.16
  services:
    - docker:20.10.16-dind
  tags:
    - fcast-instance-runner
  script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login $CI_REGISTRY -u $CI_REGISTRY_USER --password-stdin
    - docker build -t $CI_REGISTRY/videostreaming/fcast/android-receiver-experimental-dev:latest receivers/experimental/android/
    - docker push $CI_REGISTRY/videostreaming/fcast/android-receiver-experimental-dev:latest
  when: manual

buildReceiverExperimentalAndroid:
  stage: receiverAndroid
  image: gitlab.futo.org:5050/videostreaming/fcast/android-receiver-experimental-dev:latest
  tags:
    - fcast-instance-runner
  variables:
    ANDROID_VERSION_NAME: "1"
    ANDROID_VERSION_CODE: "1"
  before_script:
    - cd receivers/experimental/android
  script:
    - cargo xtask receiver android
      --android-home-override="$ANDROID_HOME_PATH" --android-ndk-root-override="$THIRDPARTY_DEPS_PATH/android-ndk-r25c" --gstreamer-root-override="$THIRDPARTY_DEPS_PATH/gstreamer-1.0-android-universal-1.26.10"
      build-lib-gst

    - cargo xtask receiver android
      --android-home-override="$ANDROID_HOME_PATH" --android-ndk-root-override="$THIRDPARTY_DEPS_PATH/android-ndk-r25c" --gstreamer-root-override="$THIRDPARTY_DEPS_PATH/gstreamer-1.0-android-universal-1.26.10"
      build --release

    - ANDROID_HOME="$ANDROID_HOME_PATH" ANDROID_NDK_ROOT="$THIRDPARTY_DEPS_PATH/android-ndk-r25c"
      ./gradlew --stacktrace assembleRelease -PversionName=$ANDROID_VERSION_NAME -PversionCode=$ANDROID_VERSION_CODE

    - ANDROID_HOME="$ANDROID_HOME_PATH" ANDROID_NDK_ROOT="$THIRDPARTY_DEPS_PATH/android-ndk-r25c"
      ./gradlew --stacktrace bundlePlaystoreRelease -PversionName=$ANDROID_VERSION_NAME -PversionCode=$ANDROID_VERSION_CODE

    - ANDROID_HOME="$ANDROID_HOME_PATH" ANDROID_NDK_ROOT="$THIRDPARTY_DEPS_PATH/android-ndk-r25c" ./gradlew assembleRelease -PversionName=$ANDROID_VERSION_NAME -PversionCode=$ANDROID_VERSION_CODE
    - mkdir -p "./$ANDROID_VERSION_CODE"
    - mv ./app/build/outputs/apk/defaultFlavor/release/app-defaultFlavor-release.apk "./$ANDROID_VERSION_CODE/fcast-receiver-experimental-release.apk"
    - mv ./app/build/outputs/bundle/playstoreRelease/app-playstore-release.aab "./$ANDROID_VERSION_CODE/fcast-receiver-experimental-playstore-release.aab"
  artifacts:
    untracked: false
    when: on_success
    access: all
    expire_in: "30 days"
    paths:
      - receivers/experimental/android/$ANDROID_VERSION_CODE/fcast-receiver-experimental-release.apk
      - receivers/experimental/android/$ANDROID_VERSION_CODE/fcast-receiver-experimental-playstore-release.aab
  when: manual
