.DS_Store

# Ignore VSCode user project settings
.vscode

/website/node_modules/
/website/.wrangler/
.secure_files/

/target
/ios-bindings
/ios-build
/.idea
/senders/mirroring/desktop/.flatpak-builder
/thirdparty
/test_corpus
