<configuration>
  <packageSources>
    <clear />
    <!-- dotnet pack output of the FCastSenderSDKDotnet packaging repo -->
    <add key="local" value="../../../../../FCastSenderSDKDotnet/bin/Release" />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
