/FCast.xcframework/ios-arm64-simulator/
/fcast.swift
/fcastFFI.h
/FCast.xcframework
/FCast\ Sender.xcodeproj/xcuserdata/
/FCast\ Sender.xcodeproj/project.xcworkspace/xcuserdata
/.DS_Store
/fcast_sender_sdkFFI.h
/fcast_sender_sdk.swift
/fcast_sender_sdk.xcframework
