<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Scan QR code</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>We need to access your local network to automatically discover receivers</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_googlecast._tcp</string>
		<string>_fcast._tcp</string>
		<string>_airplay._tcp</string>
	</array>
</dict>
</plist>
