/* WebOS custom player styles */

html {
    overflow: hidden;
}

.card-title {
    font-family: InterBold;
}

#overlay {
    font-family: InterRegular;
}

#title-text {
    font-family: OutfitExtraBold;
}

#scan-to-connect {
    font-family: InterBold;
}

.app-download {
    font-weight: bold;
    font-family: InterBold;
}

/* gap not supported in WebOS 6.0 */
#ips {
    gap: unset;
}

#ips-iface-icon {
    margin-right: 15px;
}

#window-can-be-closed {
    font-family: InterRegular;
}

#loading-screen {
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
}

#loading-text {
    font-size: 100px;
    font-weight: 800;
    text-align: center;
    color: white;
    padding-right: 20px;
}

#toast-notification {
    gap: unset;
}

#toast-text {
    font-family: InterRegular;
}
