.card-title {
    font-family: InterBold;
}

#overlay {
    font-family: InterRegular;
    font-size: 28px;

    /* gap not supported in WebOS 6.0 */
    gap: unset;
}

#main-view {
    padding: 25px;

    /* gap not supported in WebOS 6.0 */
    gap: unset;
    margin-right: 15vw;
}

#title-text {
    font-family: OutfitExtraBold;
    font-size: 140px;
}

#title-icon {
    width: 124px;
    height: 124px;
}

#manual-connection-info {
    font-family: InterBold;
}

#scan-to-connect {
    font-family: InterBold;
}

#window-can-be-closed {
    font-family: InterRegular;
    font-size: 24px;
}

.lds-ring {
    width: 120px;
    height: 120px;
}
.lds-ring div {
    width: 104px;
    height: 104px;
}

#loading-screen {
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
}

#loading-text {
    font-size: 100px;
    font-weight: 800;
    text-align: center;
    color: white;
    padding-right: 20px;
}

#connection-check {
    width: 104px;
    height: 104px;
}

#toast-notification {
    gap: unset;
    top: -250px;
}

#toast-icon {
    width: 88px;
    height: 88px;
    margin-right: 20px;
}

#toast-text {
    font-family: InterRegular;
    font-size: 28px;
}
