body, html {
    height: 100%;
    margin: 0;
}

#main-container {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.non-selectable {
    user-select: none;
}

.card {
    display: flex;
    flex-direction: column;
    text-align: center;

    background-color: rgba(20, 20, 20, 0.5);
    border-radius: 10px;
    border: 1px solid #2E2E2E;
    scrollbar-width: thin;
    overflow: auto;
}

.card-title {
    font-weight: 700;
}

.card-title-separator {
    height: 1px;
    background: #2E2E2E;
    margin-top: 3px;
    margin-bottom: 3px;
}

.iconSize {
    background-size: cover;
}

#ui-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;

    font-family: InterVariable;
    font-style: normal;
    font-weight: 400;
}

#main-view {
    padding: 25px;
}

#title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#title-text {
    font-family: Outfit;
    font-weight: 800;
    text-align: center;

    background-image: linear-gradient(180deg, #FFFFFF 5.9%, #D3D3D3 100%);
    background-clip: text;
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
}

#title-icon {
    background-image: url(../assets/icons/app/icon.svg);
    background-size: cover;
}

#connection-status {
    text-align: center;
}

#connection-status-text {
    margin-top: 20px;
    white-space: pre;
}

#connection-spinner {
    padding: 20px;
}

#connection-error {
    display: none;
}

#connection-error-icon {
    width: 84px;
    height: 84px;
    margin: auto;

    background-image: url(../assets/icons/app/error.svg);
    background-size: cover;
}

#connection-error-text {
    margin-top: 20px;
    font-weight: bold;
}

#connection-information-loading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#connection-information-loading-text {
    width: auto;
    height: auto;
}

#connection-information {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#scan-to-connect {
    font-weight: bold;
}

#qr-code {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

#ips {
    display: flex;
    margin-top: 20px;
    white-space: pre;
    gap: 10px;
    justify-content: center;
}

#ips-iface-icon {
    display: flex;
    flex-direction: column;
}

#ips-iface-text {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    align-items: start;
}

#ips-iface-name {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.ip-wired-icon {
    background-image: url(../assets/icons/app/network-light.svg);
}

.ip-wireless-4-icon {
    background-image: url(../assets/icons/app/wifi-strength-4.svg);
}

.ip-wireless-3-icon {
    background-image: url(../assets/icons/app/wifi-strength-3.svg);
}

.ip-wireless-2-icon {
    background-image: url(../assets/icons/app/wifi-strength-2.svg);
}

.ip-wireless-1-icon {
    background-image: url(../assets/icons/app/wifi-strength-1.svg);
}

.ip-wireless-0-icon {
    background-image: url(../assets/icons/app/wifi-strength-outline.svg);
}

#window-can-be-closed {
    color: #666666;
    position: absolute;
    bottom: 0;

    font-family: InterVariable;
    font-style: normal;
    font-weight: 400;
}

.lds-ring {
    display: inline-block;
    position: relative;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#connection-check {
    /* display: inline-block; */
    display: none;
    position: relative;
    margin: 18px;
    padding: 10px;

    background-color: #019BE7;
    border-radius: 50%;
    z-index: 0;
}

#connection-check-mark {
    position: relative;
    top: -10px;
    left: -10px;
    width: 100%;
    height: 100%;
    padding: 10px;

    animation: check 0.5s cubic-bezier(0.5, 0, 0.5, 1) 1;
    background-image: url(../assets/icons/app/checked.svg);
    background-size: cover;
    background-color: #019BE7;
    border-radius: 50%;
    z-index: 1;
}

@keyframes check {
    0% {
        clip-path: inset(0px 64px 0px 0px);
    }
    100% {
        clip-path: inset(0px 0px 0px 0px);
    }
}

#toast-notification {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 20px;
    gap: 12px;

    position: relative;
    top: -200px;
    max-width: 70%;

    background: #F0F0F0;
    border: 3px solid rgba(0, 0, 0, 0.08);
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.33), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.250556), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.200444), 0px 20px 13px rgba(0, 0, 0, 0.165), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.129556), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.0794444);
    border-radius: 12px;
    opacity: 0;
}

#toast-icon {
    width: 88px;
    height: 88px;
    background-image: url(../assets/icons/app/info.svg);
    background-size: cover;
    flex-shrink: 0;
}

#toast-text {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;

    font-family: InterVariable;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
}

.toast-fade-in {
    animation: toast-fade-in 1.0s cubic-bezier(0.5, 0, 0.5, 1) 1;
}

.toast-fade-out {
    animation: toast-fade-out 1.0s cubic-bezier(0.5, 0, 0.5, 1) 1;
}

@keyframes toast-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes toast-fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Display scaling (Minimum supported resolution is 960x540) */
@media only screen and ((min-width: 2560px) or (min-height: 1440px)) {
    .card {
        padding: 25px;
    }

    .card-title {
        line-height: 24px;
        margin: 10px;
    }

    .card-title-separator {
        margin: 5px 0px;
        margin-top: 10px;
    }

    .iconSize {
        width: 48px;
        height: 48px;
    }

    #overlay {
        gap: 15vw;
        font-size: 32px;
    }

    #title-text {
        font-size: 180px;
    }

    #title-icon {
        width: 164px;
        height: 164px;
        margin-right: 30px;
    }

    #connection-status {
        padding: 35px;
    }

    #connection-error-icon {
        margin-top: 20px;
    }

    #connection-information-loading-text {
        margin: 20px;
    }

    #scan-to-connect {
        margin-top: 20px;
    }

    #qr-code {
        width: 384px;
        height: 384px;
        margin: 25px auto;
        padding: 20px;
    }

    #connection-details-separator {
        margin-top: 15px;
    }

    #ips {
        margin-top: 20px;
        gap: 15px;
    }

    .ip-entry-text {
        margin-top: 4.5px;
        margin-bottom: 4.5px;
    }

    #window-can-be-closed {
        margin-bottom: 20px;
        font-size: 28px;
    }

    .lds-ring {
        width: 140px;
        height: 140px;
    }
    .lds-ring div {
        width: 124px;
        height: 124px;
    }

    #connection-check {
        width: 124px;
        height: 124px;
    }

    #toast-notification {
        padding: 16px;
        top: -225px;
    }

    #toast-icon {
        width: 108px;
        height: 108px;
        margin: 5px 10px;
    }

    #toast-text {
        font-size: 32px;
    }
}

@media only screen and ((max-width: 2559px) or (max-height: 1439px)) {
    .card {
        padding: 25px;
    }

    .card-title {
        line-height: 24px;
        margin: 10px;
    }

    .card-title-separator {
        margin: 3px 0px;
    }

    .iconSize {
        width: 48px;
        height: 48px;
    }

    #overlay {
        gap: 15vw;
        font-size: 28px;
    }

    #title-text {
        font-size: 140px;
    }

    #title-icon {
        width: 124px;
        height: 124px;
        margin-right: 25px;
    }

    #connection-status {
        padding: 25px;
    }

    #connection-error-icon {
        margin-top: 20px;
    }

    #connection-information-loading-text {
        margin: 20px;
    }

    #scan-to-connect {
        margin-top: 20px;
    }

    #qr-code {
        width: 256px;
        height: 256px;
        margin: 20px auto;
        padding: 16px;
    }

    #connection-details-separator {
        margin-top: 15px;
    }

    #ips {
        margin-top: 20px;
        gap: 15px;
    }

    .ip-entry-text {
        margin-top: 7px;
        margin-bottom: 7px;
    }

    #window-can-be-closed {
        margin-bottom: 20px;
        font-size: 24px;
    }

    .lds-ring {
        width: 120px;
        height: 120px;
    }
    .lds-ring div {
        width: 104px;
        height: 104px;
    }

    #connection-check {
        width: 104px;
        height: 104px;
    }

    #toast-notification {
        padding: 16px;
        top: -200px;
    }

    #toast-icon {
        width: 88px;
        height: 88px;
        margin: 5px 10px;
    }

    #toast-text {
        font-size: 28px;
    }
}

@media only screen and ((max-width: 1919px) or (max-height: 1079px)) {
    .card {
        padding: 15px;
    }

    .card-title {
        line-height: 20px;
        margin: 5px;
        margin-bottom: 10px;
    }

    .card-title-separator {
        margin: 3px 0px;
    }

    .iconSize {
        width: 32px;
        height: 32px;
    }

    #overlay {
        gap: 12.5vw;
        font-size: 20px;
    }

    #title-text {
        font-size: 100px;
    }

    #title-icon {
        width: 84px;
        height: 84px;
        margin-right: 15px;
    }

    #connection-status {
        padding: 15px;
    }

    #connection-error-icon {
        margin-top: 10px;
    }

    #connection-information-loading-text {
        margin: 10px;
    }

    #scan-to-connect {
        margin-top: 10px;
    }

    #qr-code {
        width: 192px;
        height: 192px;
        margin: 15px auto;
        padding: 12px;
    }

    #ips {
        margin-top: 10px;
    }

    .ip-entry-text {
        margin-top: 4px;
        margin-bottom: 4px;
    }

    #window-can-be-closed {
        margin-bottom: 15px;
        font-size: 18px;
    }

    .lds-ring {
        width: 100px;
        height: 100px;
    }
    .lds-ring div {
        width: 84px;
        height: 84px;
    }

    #connection-check {
        width: 84px;
        height: 84px;
    }

    #toast-notification {
        padding: 12px;
        top: -150px;
    }

    #toast-icon {
        width: 68px;
        height: 68px;
    }

    #toast-text {
        font-size: 20px;
    }
}

@media only screen and ((max-width: 1279px) or (max-height: 719px)) {
    .card {
        padding: 15px;
    }

    .card-title {
        line-height: 18px;
        margin: 5px;
    }

    .card-title-separator {
        margin: 3px 0px;
    }

    .iconSize {
        width: 24px;
        height: 24px;
    }

    #overlay {
        gap: 10vw;
        font-size: 18px;
    }

    #title-text {
        font-size: 80px;
    }

    #title-icon {
        width: 64px;
        height: 64px;
        margin-right: 15px;
    }

    #connection-status {
        padding: 15px;
    }

    #connection-error-icon {
        margin-top: 10px;
    }

    #connection-information-loading-text {
        margin: 10px;
    }

    #scan-to-connect {
        margin-top: 10px;
    }

    #qr-code {
        width: 128px;
        height: 128px;
        margin: 15px auto;
        padding: 8px;
    }

    #ips {
        margin-top: 10px;
    }

    .ip-entry-text {
        margin-top: 1.5px;
        margin-bottom: 1.5px;
    }

    #window-can-be-closed {
        margin-bottom: 10px;
        font-size: 16px;
    }

    .lds-ring {
        width: 80px;
        height: 80px;
    }
    .lds-ring div {
        width: 64px;
        height: 64px;
    }

    #connection-check {
        width: 64px;
        height: 64px;
    }

    #toast-notification {
        padding: 8px;
        top: -125px;
    }

    #toast-icon {
        width: 48px;
        height: 48px;
    }

    #toast-text {
        font-size: 18px;
    }
}
