
deployDocsSite:
  stage: website
  image: nikolaik/python-nodejs:python3.14-nodejs25-slim
  tags:
    - fcast-instance-runner
  before_script:
    - export CLOUDFLARE_API_TOKEN=$CLOUDFLARE_API_TOKEN
    - cd docs
    - pip install zensical
    - npm install
  script:
    - echo "Building docs site..."
    - zensical build
    - echo "Deploying docs site..."
    - npm run deploy-site
    - >
      curl -X POST "https://api.cloudflare.com/client/v4/zones/$CLOUDFLARE_ZONE_ID/purge_cache"
      -H "Authorization: Bearer $CLOUDFLARE_API_TOKEN"
      -H "Content-Type: application/json"
      --data '{
        "files": [
          "http://docs.fcast.org/"
        ]
      }'
  when: manual
